:root{
  --logo-color: rgb(255 204 0);
  --dark-yellow-color: rgb(213 161 0);
  --blue-color1: rgb(0 117 190);
  --dark-color: rgb(10 40 95);
  --red-color:rgb(251 27 27);
  --off-red-color:rgb(227 53 13);
  --grey-color:rgb(223 223 223);
  --background-color: rgb(245 245 245);
  --dark-background-color: rgb(130, 26, 17);
  
  --grid-length: 10;
}


*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

#root{
  /* background-color: var(--dark-background-color); */
  background-image: url("./images/background.png");
  background-size: contain;
  display: flex;
  justify-content: center;
}

.bg-overlay{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.3);
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}



/* Navbar CSS */
.navbar {
display:flex;
justify-content: space-between;
align-items:center;
background-color:var(--dark-color);
width: 100%;
padding: 1rem;
}


.navbar-left {
display:flex;
align-items:flex-start;
justify-content: space-between; 
}

.navbar-right {
display:flex;
/* to add space between the buttons */
column-gap: 20px;
/* we used padding here to move the buttons to the left */
/* padding-right:150px;  */
}


/* Responsive design */
/* Default html font-size is 16px */
/* rem is 16px * value
1.5 rem = 16 * 1.5 = 24px
So for responive design */
.btn {
  background-color:var(--dark-color);
  color: white;
  border: none;
  padding: 0.8rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition-duration: 0.25s;
  border: 1px var(--logo-color) solid;
} 

a{
  text-decoration: none;
}


.btn:hover{
  background-color: var(--logo-color);
  color: var(--dark-color);
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}
.btn:active{
  background-color: rgb(0 117 190);
  box-shadow: 5px;
  transform: translate(4px);
}










/* Footer CSS */

.footer-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  padding: 1rem;
}

.footer-logo {
  width: 7rem; 
}

/* .footer-middle {
  justify-self: center;
} */

.footer-right {
  display: flex;
  height: 2rem;
  align-items: center;
  color: white;
}



.footer-middle {
  justify-self: flex-start;
  display: flex;
}


.footer-middle a {
  color: white;
  width:40px;
  height:40px;
  padding: 5px;
  background: var(--dark-color);
  transition: .5s;
}

/* a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
} */

a .social-icon {
  height:100%;
  background: var(--dark-color);
  color: white;
  transition: .5s;
}

a:hover .social-icon{
  color: var(--logo-color);
}


/* Home Page CSS */












/* Login Page */













/* Signup Page */











/* Pokedex Page */











/* Map Page */

.map-page{
  display: grid;
  grid-template-areas: 
  "grid grid moves"
  "grid grid wildPokemon";
  background-color: var(--background-color);
  height: 80vh;
  padding: 4rem;
  width: 100%;
}

.grid-container{
  grid-area: grid;
  background-color: #1C2541;
  min-width: 400px;
  display: grid;
  grid-template-columns: repeat(var(--grid-length), 1fr);
  grid-template-rows: repeat(var(--grid-length), 1fr);
}

.oneGrid{
  border: 1px red solid;
}

.user-grid{
  background-image: url("./images/ash_sprite.png");
  background-size: cover;
}

.moves-container{
  grid-area: moves;
  padding: 1rem;
  display: grid;
  grid-template-areas: 
  ". up ."
  "left user right"
  ". down .";
}

.up-btn{
  grid-area: up;
}

.right-btn{
  grid-area: right;
}

.down-btn{
  grid-area: down;
}

.left-btn{
  grid-area: left;
}

.user-sprite{
  grid-area: user;
}

.wild-pokemon-container{
  grid-area: wildPokemon;
  display: flex;
  /* flex-direction: column; */
}







