:root{
  --logo-color: rgb(255 204 0);
  --color: rgb(213 161 0);
  --color1: rgb(0 117 190);
  --dark-color: #1C2541;
  --background-color: #CCE3F5;
  --primary-color: #eff0f0;
  --secondary-color: #eff0f0;


  /* RGB: (255 204 0)
RGB: (213 161 0)
RGB: (0 117 190)
RGB: (10 40 95)
RGB: (251 27 27)
RGB: (251 27 27)
RGB: (223 223 223) */
}


*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}



.App {
  text-align: center;
}

/* .userSprite {
  background-color: red;
} */



/* Navbar CSS */












/* Footer CSS */

.footer-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
}

.footer-logo {
  width: 7rem; 
}

.footer-middle {
  background-color: green;
  

}

.footer-right {
  display: flex;
  height: 2rem;
  align-items: center;
  background-color: yellow;

  

}

.copyright-symbol{
  align-self: flex-start;
  font-size: 0.5rem;
}

ul {
  display:flex;
}

ul li {
  list-style: none;
}

ul li a {
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

ul li a .social-icon {
  height:100%;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  /* line-height: calc(60px - 12px); */
  /* font-size:24px; */
  color: #262626;
  transition: .5s;
}

ul li:nth-child(1) a:hover .social-icon {
  color: #3b5998;
}

ul li:nth-child(2) a:hover .social-icon {
  color: #00aced;
}

ul li:nth-child(3) a:hover .social-icon {
  color: #e4405f;
}

.facebook {
  background-color: black;
}

/* Home Page CSS */












/* Login Page */













/* Signup Page */











/* Pokedex Page */











/* Map Page */





